/* Start About Me */
.about-me {
  background: #efefef;
  padding-top: 75px;
}

.about-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  img {
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
    text-align: start;
    color: #262626;
    padding: 18px;
    span {
      font-size: 1.2rem;
      color: #262626;
      padding-top: 1rem;
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 600px) {
  .about-me {
    padding-top: 45px;
  }
  .about-text {
    flex-wrap: wrap;
    img {
      height: 20vh;
      margin: 0.5rem 0;
    }
  }
}
/* End About Me */
