.about-me {
  background: #efefef;
  position: relative;
  padding-top: 90px;
}

.about-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  img {
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
    text-align: start;
    color: #262626;
    padding: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .about-text {
    flex-wrap: wrap;
    img {
      height: 20vh;
      margin: 0.5rem 0;
    }
  }
}
