/* Start Footer */
footer {
  background: #515151;
  padding-top: 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  img {
    width: 100%;
    max-height: 200px;
  }
}

.contact {
  color: #fff;
  span {
    font-size: 3rem;
    font-weight: 600;
    padding: 10px;
    display: block;
  }
  p {
    font-size: 1.2rem;
    padding: 10px;
    text-align: start;
  }
}

.social-footer {
  p {
    font-size: 1.4rem;
    color: #fff;
  }
  i {
    font-size: 22px;
    margin: 2px;
    padding: 8px;
    color: #fff;
  }
}

footer > p {
  color: #dddddd;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  padding: 10px;
  span {
    font-size: 1rem;
    font-weight: 500;
  }
}
/* End Footer */
