header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
  position: relative;
}
/* --- Start Navigation --- */
.nav-container {
  width: 100%;
  padding: 0.5rem;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  top: 0;
  position: fixed;
  z-index: 999;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  a {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-image: url("https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_960/public/purina-desarrollo-y-comportamiento-de-gatos-recien-nacidos.jpg?itok=fD8yYcBj");
    background-size: cover;
    background-position: center;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .logo a {
    height: 2.2rem;
    width: 2.2rem;
  }
}

.menu-icon {
  display: none;
}

.navigation {
  ul {
    list-style: none;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 0.5rem 1rem;
        color: #fff;
        font-size: 1.2rem;
        margin: 0.2rem;
      }
    }
  }
}

.navigation ul li a:hover {
  border-bottom: solid 2px #17d192;
}

@media only screen and (max-width: 746px) {
  .menu-icon {
    display: block;
    color: #30a76e;
    cursor: pointer;
    padding: 0.3rem;
  }
  .navigation {
    width: 100%;
    ul {
      list-style: none;
      display: none;
      li {
        display: block;
        a {
          display: block;
          padding: 0.3rem 0;
          color: #fff;
          font-size: 1.2rem;
          margin: 0.4rem;
          text-align: start;
        }
      }
    }
    ul.show {
      display: block;
    }
  }
}
/* --- End Navigation --- */

/* --- Start Header info --- */
.header-container {
  padding-top: 70px;
  display: flex;
}

.header-info {
  text-align: start;
  margin-top: 100px;
  h2 {
    font-size: 5.3em;
    color: #fff;
  }
  h1 {
    color: #fbfbfb;
    font-weight: 400;
    font-size: 1.5em;
    display: inline;
  }
}

.my-title {
  padding-top: 7px;
  display: inline-block;
  border-top: solid 2px #17d192;
}

.social {
  i {
    font-size: 25px;
    margin: 0 1% 0 0;
    padding: 12px;
    color: #fff;
  }
}

.img-me {
  img {
    max-width: 100%;
    max-height: 500px;
  }
}

@media only screen and (max-width: 767px) {
  .header-info {
    position: absolute;
    z-index: 99;
    margin-top: 90px;
    background: rgba(0, 0, 0, 0.452);
    width: 100%;
    border-radius: 8px;
    h2 {
      font-size: 3.5rem;
    }
    h1 {
      font-size: 1.2rem;
    }
  }
  .img-me {
    width: 100%;
  }
}
/* --- End Header info --- */
