@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

body a {
  text-decoration: none;
}

.container-global {
  width: 85%;
  margin: auto;
  position: relative;
  text-align: center;
}

.titles-web {
  font-size: 3rem;
  font-weight: 700;
  color: #4b4b4b;
  border-bottom: solid 2px #8e00ad;
}

@media only screen and (max-width: 746px) {
  .titles-web {
    font-size: 2rem;
  }
}

/* --- Start Navigation --- */
.nav-container {
  width: 100%;
  padding: 0.5rem;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  top: 0;
  position: fixed;
  z-index: 999;
}

.logo-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-image: url("https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_960/public/purina-desarrollo-y-comportamiento-de-gatos-recien-nacidos.jpg?itok=fD8yYcBj");
  background-size: cover;
  background-position: center;
  display: block;
}

@media only screen and (max-width: 600px) {
  .logo a {
    height: 2.2rem;
    width: 2.2rem;
  }
}

.menu-icon {
  display: none;
}

.navigation ul {
  list-style: none;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1.2rem;
  margin: 0.2rem;
}

.navigation ul li a:hover {
  border-bottom: solid 2px #17d192;
}

@media only screen and (max-width: 746px) {
  .menu-icon {
    display: block;
    color: #30a76e;
    cursor: pointer;
    padding: 0.3rem;
  }
  .navigation {
    width: 100%;
  }
  .navigation ul {
    list-style: none;
    display: none;
  }
  .navigation ul li {
    display: block;
  }
  .navigation ul li a {
    display: block;
    padding: 0.3rem 0;
    color: #fff;
    font-size: 1.2rem;
    margin: 0.4rem;
    text-align: start;
  }
  .navigation ul.show {
    display: block;
  }
}

/* --- End Navigation --- */
/* --- Start Header info --- */
/* header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
} */
.info-header {
  width: 85%;
  margin: 0 auto;
  position: relative;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 900;
}

.my-name {
  font-size: 5.3em;
  color: #fff;
}

h1 {
  color: #fbfbfb;
  font-weight: 400;
  font-size: 1.5em;
  border-top: solid 2px #17d192;
  display: inline;
}

.social i {
  font-size: 25px;
  margin: 0 1% 0 0;
  padding: 12px;
  color: #fff;
}

.img-me {
  width: 35vw;
  height: 85vh;
  background-image: url("../images/header-me.png");
  background-size: cover;
  right: 15%;
  bottom: 0;
  position: absolute;
  z-index: 99;
}

/* --- End Header info --- */
.about-me {
  background: #efefef;
  position: relative;
  padding-top: 90px;
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.about-text img {
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1.2rem;
  text-align: start;
  color: #262626;
  padding: 18px;
}

@media only screen and (max-width: 600px) {
  .about-text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-text img {
    height: 20vh;
    margin: 0.5rem 0;
  }
}

.learning-title span {
  position: absolute;
  margin-top: 12%;
}

.learning-text {
  padding-top: 2rem;
}

.learning-text p {
  color: #5a6161;
  font-size: 2.6rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.8rem;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .learning-title span {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .learning-title span {
    margin-top: 5%;
  }
  .learning-text {
    padding-top: 1rem;
  }
  .learning-text p {
    font-size: 1.6rem;
  }
}

.learning-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.learning-item {
  background: #f5f5f5;
  width: 165px;
  height: 160px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 15px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.learning-item img {
  width: 135px;
  height: 135px;
}

.learning-item span {
  color: #5a6161;
  font-size: 1.5rem;
  font-weight: 500;
}

.learning-item:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 0 12px 15px rgba(23, 209, 147, 0.253);
          box-shadow: 0 12px 15px rgba(23, 209, 147, 0.253);
}

@media only screen and (max-width: 600px) {
  .learning-item {
    width: 80px;
    height: 85px;
    margin: 10px auto;
    padding: 10px;
  }
  .learning-item img {
    width: 70px;
    height: 70px;
  }
  .learning-item span {
    font-size: 1rem;
  }
}

.proyects-me {
  background: #efefef;
  position: relative;
  padding-top: 90px;
}

.proyects-content {
  margin-top: 40px;
}

.proyects-content p {
  font-size: 1.8rem;
  color: #343434;
  font-weight: 500;
  text-align: start;
  border-bottom: solid 1.5px #23ad7e;
  width: 70%;
}

.proyects-tarjet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proyects-tarjet div {
  width: 230px;
  height: 180px;
  background: #fff;
  margin: 20px auto;
  border-radius: 8px;
  padding: 10px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.proyects-tarjet div img {
  width: 220px;
  height: 155px;
  border-radius: 8px;
}

.proyects-tarjet div span {
  color: #5a6161;
  font-size: 1.3rem;
  font-weight: 500;
}

.tarjet:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 0 12px 15px rgba(141, 0, 173, 0.417);
          box-shadow: 0 12px 15px rgba(141, 0, 173, 0.417);
}

/* @import "footer"; */
/*# sourceMappingURL=style.css.map */